body {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 60px auto;
    width: 80%;
}
.mainButtons {
    /*padding-left: 10%;
    padding-right: 10%;*/
    text-align: center;
    display: inline;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.mainButtons a {
    font-size: 14pt;
    background-color: #000000;
    border-radius: 10px;
    transition: .2s;
    padding: 20px 40px 20px 40px;
    margin: 10px 30px 10px 30px;
}
.mainButtons a:hover {
    background-color: #333333;
    transition: .2s;
}
.width-150px {
    width: 75px;
    display: inline-block;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;

}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 16pt;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
