---
layout: default
title: Nate Thompson
nav_title: Home
nav_order: 1
---
<article>
  <section class="bio card">
    <h1>Hi, I’m Nate!</h1>
    <ul>
      <li>I'm an iOS & macOS developer from Georgia, USA.</li>
      <li>I'm currently looking for a full-time job! If you'd like to talk, feel free to <a href="mailto:{{ site.email_address }}">send me an email</a>.</li>
      <li>I recently graduated from Georgia State University with a B.S. in Computer Science.</li>
      <li>Last year I interned at Apple, where I worked on prototyping new functionality for their embedded diagnostics software.</li>
    </ul>
  </section>
  
  <hr>
  <section class="projects">
    <h1>My Projects</h1>
    <ul>
      {% assign projects = site.data.projects.large %}
      {% for project in projects %}
      <li class="project-large card" style="
      color: {{ project.text_color }};
      background-color: {{ project.image.background_color }};
      {% if project.image.generate %}
      background-image: {{ project.image.generate }};
      {% else %}
      background-image: url({{ project.image.url }});
      {% endif %}
      ">
      <div>
        <div class="project-icon"><img src="{{ site.baseurl }}{{ project.icon.url }}" alt="{{ project.icon.alt }}"></div>
        <div class="project-text">
          <div>
            <a href="{{ project.link }}"><h2>{{ project.name }}</h2></a>
            <p>{{ project.tagline }}</p>
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>

<hr>
<section class="projects">
  <h1>Hackathons</h1>
  <ul class="project-grid">
    
    {% assign projects = site.data.projects.hackathons %}
    {% for project in projects %}
    <li class="project-small card">
      <div role="img" alt="{{ project.image.alt }}" style="
      background-image: url('{{ site.baseurl }}{{ project.image.url }}');
      background-size: auto 200px;
      background-color: {{ project.image.background_color }}
      ">
    </div>
    <h2><a href="{{ project.link }}">{{ project.name }}</a></h2>
    <p>{{ project.description.primary }}</p>
    <p>{{ project.description.secondary }}</p>
    </li>
    {% endfor %}
  </ul>
</section>
</article>