.site-footer {
    @extend %padding-regular;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 0.9em;

    @include themed() {
        color: t($secondary-text-color);
    }


    .footer-icons {
        margin-bottom: 6%;
        ul {
            list-style: none;
            li {
                display: inline;

                .fa-inverse {
                    @include themed() {
                        color: t($background-color);
                    }
                }
            }
        }
    }

    p {
        margin: 0;
        font-size: 10pt;
    }
}
