body {
  max-width: 1300px;
  margin: 0 auto !important;
  float: none !important;
}

article {
  padding-top: 0;
}


// Header text feature
.call-out {
    @extend %padding-regular;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: $header-desc-background-color;
    font-size: 1.2em;
    text-align: center;
    color: $header-desc-text-color;
    background-repeat: no-repeat;
    background-size: $feature-image-size;

    /* --- Responsive --- */
    @media screen and (max-width: 850px) {
        background-size: 100% auto;
    }

    //For white images
    p, a, li, h1, h2, h3, h4, h5 {
        @extend .header-txt-shadow;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

#main {
    background-position: 100% 0px, 0% center, center top;
}

// Post listing
.posts {
    .post-teaser {
        @extend %padding-regular;
        width: 100%;
        margin-bottom: 0;
        display: inline-block;
        background-size: $feature-image-size;
        border-bottom: 1px solid $border-color;
        p a {
            @extend .body-link;
        }
        img {
            padding: 0;
            vertical-align: middle;
        }

        .post-img {
            vertical-align: middle;
            border-radius: 25px;
            overflow: hidden;

            @media (min-width: $break) {
                height: 250px;
            }

            //Smaller screen
            @media screen and (max-width: $break) {
                height: 150px;
            }
        }

        .post-img img {
            -moz-transition-timing-function: ease-out;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;

            -moz-transition: all 5s;
            -webkit-transition: all 5s;
            transition: all 5s;
        }
    }
    .excerpt {
        margin-top: 1em;
    }
}


.bio {
  margin-bottom: 35px;
  padding: 0 6%;
  height: 175px;
  width: 100%;

  background-color: #f0efef;
  border-color: #979797;
  border-width: 1px;
  border-style: solid;

  position: relative;
  box-shadow: 0 3px 8px rgba(0,0,0,0.20);
  border-radius: 15px;
  overflow: hidden;
  h4 {
    font-family: "Menlo", "Courier New", "Courier", monospace;
    font-size: 16pt;
    margin: 15px 0;
  }
  li {
    margin: 0;
    font-size: 12pt;
    font-family: "Menlo", "Courier New", "Courier", monospace;
    position: relative;
    list-style: none;
  }
    li:before {
      content: "*";
      position: absolute;
      left: -20px;
      top: -1px;
    }
  }


.project-large {
  margin: 35px 0;
  height: 175px;
  width: 100%;
  position: relative;
  box-shadow: 0 3px 8px rgba(0,0,0,0.20);
  border-radius: 15px;
  overflow: hidden;

  span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .project-icon {
    height: 175px;
    width: 35%;
    @media (min-width: 1000px) {
      width: 40%;
    }
    float: left;
    img {
      width: 65%;
      @media (min-width: 1000px) {
        width: 60%;
      }
      max-height: 100px;
      max-width: 100px;
      box-sizing: content-box;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .project-text {
    height: 100%;
    width: 65%;
    margin: 0 0 0 35%;
    padding-right: 5%;
    @media (min-width: 1000px) {
      width: 60%;
      margin: 0 0 0 40%;
      padding-right: 10%;
    }
    text-align: left;
    h2 {
      font-size: 24pt;
      margin: 0;
      padding-top: 30px;
    }
    p {
      margin-top: 10px;
    }
  }
}


.hackathons {
  h3 {
    margin-bottom: 0;
  }
  hr {
    margin: 0;
  }
}


.project-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: -10px;

  .project-small {
    flex-basis: 48%;
    margin-top: 30px;

    div {
      height: 175px;
      width: 100%;
      position: relative;
      background-position: center center;
      background-repeat: no-repeat;
      overflow: hidden;
      border-radius: 15px;
      box-shadow: 0 3px 8px rgba(0,0,0,0.35);
    }

    h4 {
      margin-bottom: 10px;
    }

    p {
      font-size: 12pt;
      margin-bottom: 3px;
    }

    a {
      font-size: 12pt;
      span {
        position: absolute;
        width:100%;
        height:100%;
        top:0;
        left: 0;
        z-index: 1;
      }
    }

    p:nth-of-type(2) {
      color: gray;
    }
  }
}

@media (max-width: $break) {
  .project-grid {
    display: block;
    .project-small {
      flex-basis: 100%;
      margin: 0 0 10px 0;
    }
  }
}



// Pagination
.pagination .button {
    margin: 0 1.5em;
    i {
        vertical-align: middle;
    }
}

.pagination {
    padding: $padding-small $padding-large 0 $padding-large;
    text-align: center;
    @media (max-width: 600px) {
        padding: $padding-small;
    }
}
