* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
figure {
  margin: 0;
}
// For correct line number width in Github Gists
.gist table tbody tr td {
  box-sizing: content-box;
}
html {
  @include themed() {
    background: t($background-color);
  }
}

// Typography
::selection {
  @include themed() {
    background: t($selection-color);
  }
}
::-moz-selection {
  @include themed() {
    background: t($selection-color);
  }
}
body {
  @include themed() {
    color: t($text-color);
  }
  font-family: $font-family-main;
  font-size: $font-size;
  word-wrap: break-word;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
  line-height: 1.3;
  margin: 0.67em 0;
  a {
    @include themed() {
      color: t($text-color);
    }
  }
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.15em;
}
blockquote {
    margin: 1em 1em;
    padding: 0.75em 1em;
    border-radius: 10px;
    box-shadow: 0 2px 5px $shadow-color; 
    @include themed() {
      border-left: 10px solid t($blockquote-border);
      background-color: t($blockquote-color);
    }
}
blockquote p:last-child,
footer p:last-child {
  margin-bottom: 0;
}
table {
  table-layout:fixed;
  width:100%;
  word-wrap:break-word;
  @media (max-width: 1100px) {
    overflow-x: scroll;
    display: inline-block;
  }
}
td,
th {
  padding: 0.5em 1em;
  @include themed() {
    border: 1px solid t($border-color);
  }
  text-align: left;
}
table,
dl,
code,
kbd,
pre,
samp {
  margin: 1em 0;
}
dt {
  font-weight: bold;
}
dd {
    margin-left: 2em;
}
p, ol, ul, dl, .math-display {
  line-height: 1.5;
  margin-bottom: 1em;
}
// KaTeX math display
.math-display {
  display: inline-block;
  width: 100%;
}
// Lists within lists
li > ul, li > ol {
    margin-bottom: 0;
    margin-left: 1em;
}
ol, ul {
  list-style-position: inside;
}
hr {
  @include themed() {
    border: 0.5px solid t($border-color);
  }
  margin: 1em 0;
}
a {
  @include themed() {
    color: t($link-color);
  }
  text-decoration: none;
}

/* ---- Responsive ---- */

iframe, img, embed, object, video {
  max-width: 100%;
  margin: 0 10%;
  width: 80%;
}
img[align=left] {
  margin-right: 3%;
}
img[align=right] {
  margin-left: 3%;
}

@media screen and (max-width: $sm-break) {
    h1 {
      font-size: 2em;
    }
    h2 {
      font-size: 1.5em;
    }
    h3 {
      font-size: 1em;
    }
    h4 {
      font-size: 0.75em;
    }
    p, li, code {
      font-size: 0.75em;
    }
}